@font-face { font-family: bcText; src: url('OpenSans-Regular.ttf'); } 

body {
  background-color: white;
}

.cardImage { 
  position: relative; 
  top: 0px; 
  left: 0px; 
  z-index: 1;
  border-radius: 10px; 
  z-index: 1;
} 

.barcode { 
  position: relative;
  cursor: grab;
	cursor: -webkit-grab;
  width: 280px;
  height: 55px;
  top: -70px;
  left: 30px;
  text-align: center;
  background-color:white;
  z-index: 3;
  -webkit-user-drag: element;
}

.bc# {
  position: relative;
  z-index: 4;
}

.barcode.active {
  cursor: grabbing;
	cursor: -webkit-grabbing;
}

.link {
  position: relative;
  z-index: 3;
}

.notes {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  line-height: 1;
  width: 400px;
  height: 200;
  z-index: 2;
}
