@font-face { font-family: BarCode; src: url('LibreBarcode39-Regular.ttf'); } 
@font-face { font-family: bcText; src: url('OpenSans-Regular.ttf'); } 

body {
  background-color: white;
}

.cardImage { 
  position: relative; 
  top: 0px; 
  left: 0px; 
  z-index: 1;
 /* border: 2px solid rgb(0, 0, 0); */
  border-radius: 10px; 
  z-index: 1;
} 

.barcode { 
  position: relative;
  cursor: grab;
	cursor: -webkit-grab;
/*  font-family: BarCode; 
  font-size: 45px;
  line-height: 100%; */
  width: 244px;
  height: 46px;
  top: -90px;
  left: 70px;
  text-align: center;
  background-color:white;
  z-index: 3;
}

.bc# {
  position: relative;
  z-index: 4;
}

.barcode.active {
  cursor: grabbing;
	cursor: -webkit-grabbing;
}

.link {
  top: -80px;
  position: relative;
  z-index: 5;
}

.notes {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  top: -80px;
  width: 400px;
  height: 200px;
}